		<!-- downloadsTab -->
		<%? group_selected %><li class="active"><a href="?group_exclusive=<%= group_id %>&csrf_token=<%= csrf_token %>" class="noline"><%= group_caption %></a><a href="?group_deselect=<%= group_id %>&csrf_token=<%= csrf_token %>" class="noline"> *</a></li>
		<%?%><%? !group_selected %><li class="inactive"><a href="?group_exclusive=<%= group_id %>&csrf_token=<%= csrf_token %>" class="noline"><%= group_caption %></a><a href="?group_select=<%= group_id %>&csrf_token=<%= csrf_token %>" class="noline"> *</a></li><%?%>
		<!-- /downloadsTab -->
